<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE taglib
  PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
  "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
	<tlib-version>1.0</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>bo</short-name>
	<uri>http://gzbosoft.com/framework</uri>
	<display-name>gzbosoft framework</display-name>
	<description>framework tag library</description>

	<tag>
		<name>config</name>
		<tag-class>
			com.gzbosoft.framework.tags.ConfigTag
		</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>key</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

</taglib>
